<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$InterviewDemo</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://interviewdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0a46383-df30-4046-a3a1-3c73305b3467/resourceGroups/InterviewDemo_group/providers/Microsoft.Web/sites/InterviewDemo</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://interviewdemo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>